
    <ion-pane style="background: url(img/b1.png) center; background-size: cover;"> 
      <ion-nav-view style="background: url(img/b1.png) center; background-size: cover;">
	    
		
		<ion-nav-bar  class="bar-clear">
        <ion-nav-buttons side="left">
          <button class="button button-assertive button-clear" ng-click="sback2()">
		  <i class="icon ion-chevron-left"></i>
          </button>
        </ion-nav-buttons>  
		<h4 style="text-align:center">Company Details</h4>
        <ion-nav-buttons side="right">
          <button class="button button-assertive">
            Logout!
          </button>
        </ion-nav-buttons>        
      
    </ion-nav-bar>
	<hr>
	</hr>
  </ion-nav-view>
	<ion-content class="has-header">
	
    <ion-pane style="background: url(img/b1.png) center; background-size: cover;"> 
      <ion-nav-view style="background: url(img/b1.png) center; background-size: cover;">
	    
		
		<ion-nav-bar  class="bar-clear">
        <ion-nav-buttons side="left">
          <button class="button button-assertive button-clear" ng-click="sback2()">
		  <i class="icon ion-chevron-left"></i>
          </button>
        </ion-nav-buttons>  
		<h4 style="text-align:center">Company Details</h4>
        <ion-nav-buttons side="right">
          <button class="button button-assertive">
            Logout!
          </button>
        </ion-nav-buttons>        
      
    </ion-nav-bar>
	<hr>
	</hr>
  </ion-nav-view>
	<ion-content class="has-header">
	</ion-content>
</ion-pane>