
    <ion-pane style="background: url(img/blk1.png) center; background-size: cover;"> 
      <ion-content style="background: url(img/blk1.png) center; background-size: cover;">
        
		
		<div class="spacer" style="height: 100px;"></div>

			<div class = "row">
				<div class = "col">
					<div class="animated slideInDown">
						<div class="item item-divider">
							<div class="item item-body">
								<div class="padding">
									<button ng-click="cd()" class=" button button-assertive button-full" ><font color="white"> <b>Company Details</b></font></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class = "row">
				<div class = "col">
					<div class="padding">
						<div class="animated zoomIn">
							<div class="item item-divider">
								<div class="item item-body">
									<button ng-click="sd()" class=" button button-assertive button-full "><font color="white"> <b>Student Details</b></font></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
      </ion-content>
    </ion-pane>
