<ion-view view-title="user login" ng-controller="AppCtrl1">
<ion-content style="background: url(img/bkg1.png) center; background-size: cover;">
	<div class="row responsive-md row-center">
		<div class="col col-50 col-offset-45">
			<div class="spacer" style="height: 80px;"></div>
				<div class="hero no-header flat">
						<div class="content"> 
							<div class="app-icon"></div>
						</div>
				</div>
				
			<div class="spacer" style="height: 50px;"></div>
				
				<div class="animated tada">  
					<div class="item item-divider">
						<div class="item item-body">
							<p style="text-align:center; font-size:30px; color:#f4c829; text-shadow: 2px 1px 2px black" >Job Comet 2017</p>
						</div>
					</div>
				</div>	
			

				<div class="animated flipInX" >
					<div class="item item-divider">
						<div class="item item-body">
							<button ng-click="login()" style="font-family:Lucida Console; font-size:20px" class="button button-block button-assertive "><b>Enter</b></button>
						</div>
					</div>
				</div>
		</div>
	</div>

</ion-content>
</ion-view>
			
    