<ion-pane style="background:#2f4c7a; background-size: cover;"> 
	
	<ion-view title="Signup" style="background: #2f4c7a; background-size: cover;>
	<div class="spacer" style="height: 30px;"></div>
    <ion-content padding="true" class="padding ">
	<div class="animated flipInX" >
		<div class="item item-divider">
			<div class="item item-body">
				<div class="bar bar-header bar-positive" style="background:transparent;">
					   <h1 class="title" style="color:#ffcc5c"><b>COLLEGE LIST</b></h1>
					   <hr>
				</div>
			</div>
		</div>
	</div>
	
    </ion-content>
	</ion-view>

	

</ion-pane>
